# Python
*.py[cod]
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.sqlite3
db.sqlite3
media/
images/
staticfiles/
migrations/  

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Environment variables
.env

# Python egg files
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints

# Local settings
local_settings.py

# macOS
.DS_Store

# Windows
Thumbs.db

# Ignore __init__.py files
__init__.py