<!-- The popup form -->
<div class="form-popup" id="myForm">
    <form class="form-container">
  
      <label for="ID"><b>ID</b></label>
      <input type="text" id="id_ID" name="ID"/>
  
      <label for="firstname"><b>First Name</b></label>
      <input type="text" id="id_firstname" name="firstname"/>
  
      <label for="lastname"><b>Last Name</b></label>
      <input type="text" id="id_lastname" name="lastname"/>
  
      <label for="id_standard"><b>Class</b></label>
      <input type="text" id="id_standard" name="standard"/>
  
      <label for="id_division"><b>Division</b></label>
      <input type="text" id="id_division" name="division "/>
  
      <label for="id_bloodgroup"><b>Blood Group</b></label>
      <input type="text" id="id_bloodgroup" name="division "/>
  
      <button type="submit" class="btn">Update</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>