<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
	<title>studentregistration</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	
	<style>
		body{
			background: rgb(131, 170, 203);
			background: linear-gradient(90deg, lightblue, white);
		}


	</style>
      
</head>

<body>
	<br> <br>
	<center> <h1 style="color:red;">STUDENT MANAGEMENT SYSTEM</h1> </center>
  <br>

<!-- The  form -->
<form class="form-horizontal" id="myForm">

    <div class="form-group">
        <label class="control-label col-sm-2" for="ID"><b>Student ID</b></label>
        <input type="text" class="form-control" id="id_ID" name="ID"/> 
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2"for="firstname"><b>First Name</b></label>
        <input type="text" class="form-control" id="id_firstname" name="firstname"/> 
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2"for="lastname"><b>Last Name</b></label>
        <input type="text" class="form-control" id="id_lastname" name="lastname"/> 
    </div>

    <div class="form-group col-md-4">
        <label class="control-label col-sm-2" for="standard"><b>Class</b></label>
        <select class="form-control" id="id_standard">
                          <option value="Selectclass">Select Class</option>
                          <option value="I">1</option>
                          <option value="II">2</option>
                          <option value="III">3</option>                                                
                          <option value="IV">4</option>
                          <option value="V">5</option>
                          <option value="VI">6</option>
                          <option value="VII">7</option>
                          <option value="VIII">8</option>
                          <option value="IX">9</option>
                          <option value="X">10</option>
        </select>            
    </div>

    <div class="form-group col-md-4">
        <label class="control-label col-sm-2" for="standard"><b>Division</b></label>
        <select class="form-control" id="id_division">
                          <option value="Selectdivision">Select Division</option>
                          <option value="A">A</option>
                          <option value="B">B</option>
                          <option value="C">C</option>                                                
                          <option value="D">D</option>
                          <option value="E">E</option>
        </select>            
    </div>

    <div class="form-group col-md-4">
        <label class="control-label" for="bloodgroup"><b>Blood Group</b></label>
        <select class="form-control" id="id_bloodgroup">
                          <option value="Selectblood">Select Blood Group</option>
                          <option value="Apositive">Apositive</option>
                          <option value="Anegative">Anegative</option>
                          <option value="Bpositive">Bpositive</option>
                          <option value="Bnegative">Bnegative</option>
                          <option value="Opositive">Opositive</option>
                          <option value="Onegative">Onegative</option>  
                          <option value="ABpositive">ABpositive</option>
                          <option value="ABnegative">ABnegative</option>                                                 
        </select>
    </div>

    <div class="form-group">
        <label class="control-label" for="guardian"><b>Name of Guardian</b></label>
        <input type="text" class="form-control" id="id_guardianname" name="guardian"/>
    </div>

    <div class="form-group col-md-4">
        <label class="control-label " for="guardian_relationship"><b>Relation of Guardian</b></label>
        <select class="form-control" id="id_guardian_relationship">
                          <option value="Selectdivision">Select Relation of Guardian</option>
                          <option value="Father">Father</option>
                          <option value="Mother">Mother</option>
                          <option value="GrandParent">GrandParent</option>         
        </select>            
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="guardian_phone"><b>Contact no. of Guardian</b></label>
        <input type="text" class="form-control" id="id_guardian_phone" name="guardian_phone"/>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="gender"><b>Gender</b></label>
        <label class="radio-inline">
        <input type="radio" id="id_gender" name="optradio" checked>Male</label>
        <label class="radio-inline">
        <input type="radio" id="id_female" name="optradio">Female</label> 
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="date_of_birth"><b>Date of Birth</b></label>
        <input type="date" class="form-control" id="id_date_of_birth" name="date_of_birth"/> 
    </div>
    
    <div class="form-group">
        <label class="control-label col-sm-2" for="email"><b>E-mail</b></label>
        <input type="email"  class="form-control" id="id_email" name="email"/> 
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="address"><b>Address</b></label>
        <textarea class="form-control" rows="4" cols="50" id="id_address" name="address"> </textarea> 
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="pincode"><b>Pincode</b></label>
        <input type="tel" class="form-control" id="id_pincode" name="pincode"/> 
    </div>

    <div class="form-group col-md-4">
        <label class="control-label col-sm-2" for="inputState"><b>State</b></label>
      <select class="form-control" id="id_state">
                          <option value="SelectState">Select State</option>
                          <option value="Andra Pradesh">Andra Pradesh</option>
                          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                          <option value="Assam">Assam</option>
                          <option value="Bihar">Bihar</option>
                          <option value="Chhattisgarh">Chhattisgarh</option>
                          <option value="Goa">Goa</option>
                          <option value="Gujarat">Gujarat</option>
                          <option value="Haryana">Haryana</option>
                          <option value="Himachal Pradesh">Himachal Pradesh</option>
                          <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                          <option value="Jharkhand">Jharkhand</option>
                          <option value="Karnataka">Karnataka</option>
                          <option value="Kerala">Kerala</option>
                          <option value="Madya Pradesh">Madya Pradesh</option>
                          <option value="Maharashtra">Maharashtra</option>
                          <option value="Manipur">Manipur</option>
                          <option value="Meghalaya">Meghalaya</option>
                          <option value="Mizoram">Mizoram</option>
                          <option value="Nagaland">Nagaland</option>
                          <option value="Orissa">Orissa</option>
                          <option value="Punjab">Punjab</option>
                          <option value="Rajasthan">Rajasthan</option>
                          <option value="Sikkim">Sikkim</option>
                          <option value="Tamil Nadu">Tamil Nadu</option>
                          <option value="Telangana">Telangana</option>
                          <option value="Tripura">Tripura</option>
                          <option value="Uttaranchal">Uttaranchal</option>
                          <option value="Uttar Pradesh">Uttar Pradesh</option>
                          <option value="West Bengal">West Bengal</option>
                          <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                          <option value="Chandigarh">Chandigarh</option>
                          <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                          <option value="Daman and Diu">Daman and Diu</option>
                          <option value="Delhi">Delhi</option>
                          <option value="Lakshadeep">Lakshadeep</option>
                          <option value="Pondicherry">Pondicherry</option>
                        </select>
    </div>

    <div class="form-group col-md-4">
      <label class="control-label col-sm-2" for="inputDistrict"><b>District</b></label>
      <select class="form-control" id="id_district">
          <option value="">Select District  </option>
      </select>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="photo"><b>Photo</b></label>
        <input type="file" id="id_photo" name="photo"/>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="busno"><b>Bus No</b></label>
        <input type="text" class="form-control" id="id_busno" name="busno"/> 
    </div>

    <center> <button type="submit" class="btn btn-primary m-3 p-2" onclick="addstudentvalidate()">Submit</button> 
    <button type="button" class="btn btn-danger m-3 p-2" onclick="closeForm()">Close</button>
    </center>

  </form>
    <script type="text/javascript" src="/test/wp-content/themes/child/script/jquery.jcarousel.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
	<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
	
	<script>
    var AndraPradesh = ["Anantapur","Chittoor","East Godavari","Guntur","Kadapa","Krishna","Kurnool","Prakasam","Nellore","Srikakulam","Visakhapatnam","Vizianagaram","West Godavari"];
    var ArunachalPradesh = ["Anjaw","Changlang","Dibang Valley","East Kameng","East Siang","Kra Daadi","Kurung Kumey","Lohit","Longding","Lower Dibang Valley","Lower Subansiri","Namsai","Papum Pare","Siang","Tawang","Tirap","Upper Siang","Upper Subansiri","West Kameng","West Siang","Itanagar"];
    var Assam = ["Baksa","Barpeta","Biswanath","Bongaigaon","Cachar","Charaideo","Chirang","Darrang","Dhemaji","Dhubri","Dibrugarh","Goalpara","Golaghat","Hailakandi","Hojai","Jorhat","Kamrup Metropolitan","Kamrup (Rural)","Karbi Anglong","Karimganj","Kokrajhar","Lakhimpur","Majuli","Morigaon","Nagaon","Nalbari","Dima Hasao","Sivasagar","Sonitpur","South Salmara Mankachar","Tinsukia","Udalguri","West Karbi Anglong"];
    var Bihar = ["Araria","Arwal","Aurangabad","Banka","Begusarai","Bhagalpur","Bhojpur","Buxar","Darbhanga","East Champaran","Gaya","Gopalganj","Jamui","Jehanabad","Kaimur","Katihar","Khagaria","Kishanganj","Lakhisarai","Madhepura","Madhubani","Munger","Muzaffarpur","Nalanda","Nawada","Patna","Purnia","Rohtas","Saharsa","Samastipur","Saran","Sheikhpura","Sheohar","Sitamarhi","Siwan","Supaul","Vaishali","West Champaran"];
    var Chhattisgarh = ["Balod","Baloda Bazar","Balrampur","Bastar","Bemetara","Bijapur","Bilaspur","Dantewada","Dhamtari","Durg","Gariaband","Janjgir Champa","Jashpur","Kabirdham","Kanker","Kondagaon","Korba","Koriya","Mahasamund","Mungeli","Narayanpur","Raigarh","Raipur","Rajnandgaon","Sukma","Surajpur","Surguja"];
    var Goa = ["North Goa","South Goa"];
    var Gujarat = ["Ahmedabad","Amreli","Anand","Aravalli","Banaskantha","Bharuch","Bhavnagar","Botad","Chhota Udaipur","Dahod","Dang","Devbhoomi Dwarka","Gandhinagar","Gir Somnath","Jamnagar","Junagadh","Kheda","Kutch","Mahisagar","Mehsana","Morbi","Narmada","Navsari","Panchmahal","Patan","Porbandar","Rajkot","Sabarkantha","Surat","Surendranagar","Tapi","Vadodara","Valsad"];
    var Haryana = ["Ambala","Bhiwani","Charkhi Dadri","Faridabad","Fatehabad","Gurugram","Hisar","Jhajjar","Jind","Kaithal","Karnal","Kurukshetra","Mahendragarh","Mewat","Palwal","Panchkula","Panipat","Rewari","Rohtak","Sirsa","Sonipat","Yamunanagar"];
    var HimachalPradesh = ["Bilaspur","Chamba","Hamirpur","Kangra","Kinnaur","Kullu","Lahaul Spiti","Mandi","Shimla","Sirmaur","Solan","Una"];
    var JammuKashmir = ["Anantnag","Bandipora","Baramulla","Budgam","Doda","Ganderbal","Jammu","Kargil","Kathua","Kishtwar","Kulgam","Kupwara","Leh","Poonch","Pulwama","Rajouri","Ramban","Reasi","Samba","Shopian","Srinagar","Udhampur"];
    var Jharkhand = ["Bokaro","Chatra","Deoghar","Dhanbad","Dumka","East Singhbhum","Garhwa","Giridih","Godda","Gumla","Hazaribagh","Jamtara","Khunti","Koderma","Latehar","Lohardaga","Pakur","Palamu","Ramgarh","Ranchi","Sahebganj","Seraikela Kharsawan","Simdega","West Singhbhum"];
    var Karnataka = ["Bagalkot","Bangalore Rural","Bangalore Urban","Belgaum","Bellary","Bidar","Vijayapura","Chamarajanagar","Chikkaballapur","Chikkamagaluru","Chitradurga","Dakshina Kannada","Davanagere","Dharwad","Gadag","Gulbarga","Hassan","Haveri","Kodagu","Kolar","Koppal","Mandya","Mysore","Raichur","Ramanagara","Shimoga","Tumkur","Udupi","Uttara Kannada","Yadgir"];
    var Kerala = ["Alappuzha","Ernakulam","Idukki","Kannur","Kasaragod","Kollam","Kottayam","Kozhikode","Malappuram","Palakkad","Pathanamthitta","Thiruvananthapuram","Thrissur","Wayanad"];
    var MadhyaPradesh = ["Agar Malwa","Alirajpur","Anuppur","Ashoknagar","Balaghat","Barwani","Betul","Bhind","Bhopal","Burhanpur","Chhatarpur","Chhindwara","Damoh","Datia","Dewas","Dhar","Dindori","Guna","Gwalior","Harda","Hoshangabad","Indore","Jabalpur","Jhabua","Katni","Khandwa","Khargone","Mandla","Mandsaur","Morena","Narsinghpur","Neemuch","Panna","Raisen","Rajgarh","Ratlam","Rewa","Sagar","Satna",
    "Sehore","Seoni","Shahdol","Shajapur","Sheopur","Shivpuri","Sidhi","Singrauli","Tikamgarh","Ujjain","Umaria","Vidisha"];
    var Maharashtra = ["Ahmednagar","Akola","Amravati","Aurangabad","Beed","Bhandara","Buldhana","Chandrapur","Dhule","Gadchiroli","Gondia","Hingoli","Jalgaon","Jalna","Kolhapur","Latur","Mumbai City","Mumbai Suburban","Nagpur","Nanded","Nandurbar","Nashik","Osmanabad","Palghar","Parbhani","Pune","Raigad","Ratnagiri","Sangli","Satara","Sindhudurg","Solapur","Thane","Wardha","Washim","Yavatmal"];
    var Manipur = ["Bishnupur","Chandel","Churachandpur","Imphal East","Imphal West","Jiribam","Kakching","Kamjong","Kangpokpi","Noney","Pherzawl","Senapati","Tamenglong","Tengnoupal","Thoubal","Ukhrul"];
    var Meghalaya = ["East Garo Hills","East Jaintia Hills","East Khasi Hills","North Garo Hills","Ri Bhoi","South Garo Hills","South West Garo Hills","South West Khasi Hills","West Garo Hills","West Jaintia Hills","West Khasi Hills"];
    var Mizoram = ["Aizawl","Champhai","Kolasib","Lawngtlai","Lunglei","Mamit","Saiha","Serchhip","Aizawl","Champhai","Kolasib","Lawngtlai","Lunglei","Mamit","Saiha","Serchhip"];
    var Nagaland = ["Dimapur","Kiphire","Kohima","Longleng","Mokokchung","Mon","Peren","Phek","Tuensang","Wokha","Zunheboto"];
    var Odisha = ["Angul","Balangir","Balasore","Bargarh","Bhadrak","Boudh","Cuttack","Debagarh","Dhenkanal","Gajapati","Ganjam","Jagatsinghpur","Jajpur","Jharsuguda","Kalahandi","Kandhamal","Kendrapara","Kendujhar","Khordha","Koraput","Malkangiri","Mayurbhanj","Nabarangpur","Nayagarh","Nuapada","Puri","Rayagada","Sambalpur","Subarnapur","Sundergarh"];
    var Punjab = ["Amritsar","Barnala","Bathinda","Faridkot","Fatehgarh Sahib","Fazilka","Firozpur","Gurdaspur","Hoshiarpur","Jalandhar","Kapurthala","Ludhiana","Mansa","Moga","Mohali","Muktsar","Pathankot","Patiala","Rupnagar","Sangrur","Shaheed Bhagat Singh Nagar","Tarn Taran"];
    var Rajasthan = ["Ajmer","Alwar","Banswara","Baran","Barmer","Bharatpur","Bhilwara","Bikaner","Bundi","Chittorgarh","Churu","Dausa","Dholpur","Dungarpur","Ganganagar","Hanumangarh","Jaipur","Jaisalmer","Jalore","Jhalawar","Jhunjhunu","Jodhpur","Karauli","Kota","Nagaur","Pali","Pratapgarh","Rajsamand","Sawai Madhopur","Sikar","Sirohi","Tonk","Udaipur"];
    var Sikkim = ["East Sikkim","North Sikkim","South Sikkim","West Sikkim"];
    var TamilNadu = ["Ariyalur","Chennai","Coimbatore","Cuddalore","Dharmapuri","Dindigul","Erode","Kanchipuram","Kanyakumari","Karur","Krishnagiri","Madurai","Nagapattinam","Namakkal","Nilgiris","Perambalur","Pudukkottai","Ramanathapuram","Salem","Sivaganga","Thanjavur","Theni","Thoothukudi","Tiruchirappalli","Tirunelveli","Tiruppur","Tiruvallur","Tiruvannamalai","Tiruvarur","Vellore","Viluppuram","Virudhunagar"];
    var Telangana = ["Adilabad","Bhadradri Kothagudem","Hyderabad","Jagtial","Jangaon","Jayashankar","Jogulamba","Kamareddy","Karimnagar","Khammam","Komaram Bheem","Mahabubabad","Mahbubnagar","Mancherial","Medak","Medchal","Nagarkurnool","Nalgonda","Nirmal","Nizamabad","Peddapalli","Rajanna Sircilla","Ranga Reddy","Sangareddy","Siddipet","Suryapet","Vikarabad","Wanaparthy","Warangal Rural","Warangal Urban","Yadadri Bhuvanagiri"];
    var Tripura = ["Dhalai","Gomati","Khowai","North Tripura","Sepahijala","South Tripura","Unakoti","West Tripura"];
    var UttarPradesh = ["Agra","Aligarh","Allahabad","Ambedkar Nagar","Amethi","Amroha","Auraiya","Azamgarh","Baghpat","Bahraich","Ballia","Balrampur","Banda","Barabanki","Bareilly","Basti","Bhadohi","Bijnor","Budaun","Bulandshahr","Chandauli","Chitrakoot","Deoria","Etah","Etawah","Faizabad","Farrukhabad","Fatehpur","Firozabad","Gautam Buddha Nagar","Ghaziabad","Ghazipur","Gonda","Gorakhpur","Hamirpur","Hapur","Hardoi","Hathras","Jalaun","Jaunpur","Jhansi","Kannauj","Kanpur Dehat","Kanpur Nagar","Kasganj","Kaushambi","Kheri","Kushinagar","Lalitpur","Lucknow","Maharajganj","Mahoba","Mainpuri","Mathura","Mau","Meerut","Mirzapur","Moradabad","Muzaffarnagar","Pilibhit","Pratapgarh","Raebareli","Rampur","Saharanpur","Sambhal","Sant Kabir Nagar","Shahjahanpur","Shamli","Shravasti","Siddharthnagar","Sitapur","Sonbhadra","Sultanpur","Unnao","Varanasi"];
    var Uttarakhand  = ["Almora","Bageshwar","Chamoli","Champawat","Dehradun","Haridwar","Nainital","Pauri","Pithoragarh","Rudraprayag","Tehri","Udham Singh Nagar","Uttarkashi"];
    var WestBengal = ["Alipurduar","Bankura","Birbhum","Cooch Behar","Dakshin Dinajpur","Darjeeling","Hooghly","Howrah","Jalpaiguri","Jhargram","Kalimpong","Kolkata","Malda","Murshidabad","Nadia","North 24 Parganas","Paschim Bardhaman","Paschim Medinipur","Purba Bardhaman","Purba Medinipur","Purulia","South 24 Parganas","Uttar Dinajpur"];
    var AndamanNicobar = ["Nicobar","North Middle Andaman","South Andaman"];
    var Chandigarh = ["Chandigarh"];
    var DadraHaveli = ["Dadra Nagar Haveli"];
    var DamanDiu = ["Daman","Diu"];
    var Delhi = ["Central Delhi","East Delhi","New Delhi","North Delhi","North East Delhi","North West Delhi","Shahdara","South Delhi","South East Delhi","South West Delhi","West Delhi"];
    var Lakshadweep = ["Lakshadweep"];
    var Puducherry = ["Karaikal","Mahe","Puducherry","Yanam"];
    
    
    $("#id_state").change(function(){
      var StateSelected = $(this).val();
      var optionsList;
      var htmlString = "";
    
      switch (StateSelected) {
        case "Andra Pradesh":
            optionsList = AndraPradesh;
            break;
        case "Arunachal Pradesh":
            optionsList = ArunachalPradesh;
            break;
        case "Assam":
            optionsList = Assam;
            break;
        case "Bihar":
            optionsList = Bihar;
            break;
        case "Chhattisgarh":
            optionsList = Chhattisgarh;
            break;
        case "Goa":
            optionsList = Goa;
            break;
        case  "Gujarat":
            optionsList = Gujarat;
            break;
        case "Haryana":
            optionsList = Haryana;
            break;
        case "Himachal Pradesh":
            optionsList = HimachalPradesh;
            break;
        case "Jammu and Kashmir":
            optionsList = JammuKashmir;
            break;
        case "Jharkhand":
            optionsList = Jharkhand;
            break;
        case  "Karnataka":
            optionsList = Karnataka;
            break;
        case "Kerala":
            optionsList = Kerala;
            break;
        case  "Madya Pradesh":
            optionsList = MadhyaPradesh;
            break;
        case "Maharashtra":
            optionsList = Maharashtra;
            break;
        case  "Manipur":
            optionsList = Manipur;
            break;
        case "Meghalaya":
            optionsList = Meghalaya ;
            break;
        case  "Mizoram":
            optionsList = Mizoram;
            break;
        case "Nagaland":
            optionsList = Nagaland;
            break;
        case  "Orissa":
            optionsList = Orissa;
            break;
        case "Punjab":
            optionsList = Punjab;
            break;
        case  "Rajasthan":
            optionsList = Rajasthan;
            break;
        case "Sikkim":
            optionsList = Sikkim;
            break;
        case  "Tamil Nadu":
            optionsList = TamilNadu;
            break;
        case  "Telangana":
            optionsList = Telangana;
            break;
        case "Tripura":
            optionsList = Tripura ;
            break;
        case  "Uttaranchal":
            optionsList = Uttaranchal;
            break;
        case  "Uttar Pradesh":
            optionsList = UttarPradesh;
            break;
        case "West Bengal":
            optionsList = WestBengal;
            break;
        case  "Andaman and Nicobar Islands":
            optionsList = AndamanNicobar;
            break;
        case "Chandigarh":
            optionsList = Chandigarh;
            break;
        case  "Dadar and Nagar Haveli":
            optionsList = DadraHaveli;
            break;
        case "Daman and Diu":
            optionsList = DamanDiu;
            break;
        case  "Delhi":
            optionsList = Delhi;
            break;
        case "Lakshadeep":
            optionsList = Lakshadeep ;
            break;
        case  "Pondicherry":
            optionsList = Pondicherry;
            break;
    }
    
    
      for(var i = 0; i < optionsList.length; i++){
        htmlString = htmlString+"<option value='"+ optionsList[i] +"'>"+ optionsList[i] +"</option>";
      }
      $("#id_district").html(htmlString);
    
    });

    function addstudentvalidate() {
        
        console.log("submit button clicked")

        if (document.getElementById("id_ID").value.trim() == "") {
            alert("Please enter student id!");
            return false;
        }

        if (document.getElementById("id_firstname").value.trim() == "") {
            alert("Please enter First Name!");
            return false;
        }

        if (document.getElementById("id_lastname").value.trim() == "") {
            alert("Please enter last Name!");
            return false;
        }

        if (document.getElementById("id_standard").value.trim() == "") {
            alert("Please enter class!");
            return false;
        }
        if (document.getElementById("id_division").value.trim() == "") {
            alert("Please enter division!");
            return false;
        }
        if (document.getElementById("id_bloodgroup").value.trim() == "") {
            alert("Please enter blood group!");
            return false;
        }
        if (document.getElementById("id_guardianname").value.trim() == "") {
            alert("Please enter name of Guardian!");
            return false;
        }
        if (document.getElementById("id_guardian_relationship").value.trim() == "") {
            alert("Please enter guardian relationship!");
            return false;
        }
        if (document.getElementById("id_guardian_phone").value.trim() == "") {
            alert("Please enter contact no of guardian!");
            return false;
        }
        if (document.getElementById("id_date_of_birth").value.trim() == "") {
            alert("Please enter date of birth!");
            return false;
        }
        if (document.getElementById("id_email").value.trim() == "") {
            alert("Please enter E-mail!");
            return false;
        }
        if (document.getElementById("id_address").value.trim() == "") {
            alert("Please enter Address!");
            return false;
        }

        var pincode = document.getElementById("id_pincode");
        if (pincode.value == "" || pincode.value == null) {
            alert("Please enter pincode");
            return false;
          }
        if (pincode.value.length < 6 || pincode.value.length > 6) {
            alert("pincode is invalid");
            return false;
          }

        if (document.getElementById("id_state").value.trim() == "") {
            alert("Please enter state!");
            return false;
        }
        if (document.getElementById("id_district").value.trim() == "") {
            alert("Please enter district!");
            return false;
        }

        if (document.getElementById("id_busno").value.trim() == "") {
            alert("Please enter state!");
            return false;
        }
        
        var get_ID = $('#id_ID').val();
        console.log(get_ID)

        var get_firstname = $('#id_firstname').val();
        var get_lastname = $('#id_lastname').val();
        var get_standard = $('#id_standard').val();
        var get_division = $('#id_division').val();
        var get_bloodgroup = $('#id_bloodgroup').val();
        var get_guardianname = $('#id_guardianname').val();
        var get_guardianrelationship = $('#id_guardian_relationship').val();
        var get_guardianphone = $('#id_guardian_phone').val();
        var get_gender = $('#id_gender').val();
        //alert("got val")
        var get_dateofbirth = $('#id_date_of_birth').val();
        //alert("got val")
        var get_email = $('#id_email').val();
        var get_address = $('#id_address').val();
        
        var get_pincode = $('#id_pincode').val();
       
        var get_state = $('#id_state').val();
        var get_district = $('#id_district').val();
        var get_busno = $('#id_busno').val();
        alert("going for ajax call")

        $.ajax({
            url : "http://127.0.0.1:8000/student/create/",
            type : "POST",
            data : {
                    student_ID: get_ID,
                    first_name: get_firstname,
                    last_name: get_lastname,
                    standard: get_standard,
                    division: get_division, 
                    blood_group: get_bloodgroup,
                    gender: get_gender,
                    email: get_email,
                    address: get_address,
                    pincode: get_pincode,
                    state: get_state,
                    district: get_district,
                    date_of_birth: get_dateofbirth,
                    bus_no: get_busno,   
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
            success: function (response) {
                    alert("created successfully");
                    window.location.href='http://127.0.0.1:8000/';	           
                    }
         })
    
    }
    
    function closeForm(){
        window.location.href = "http://127.0.0.1:8000/";	           
    }
	</script>
</body>
</html>