<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
	<title>Payment Success</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        h1 {  
            color: blue;  
            padding-bottom: 2rem;  
            font-weight: bold;  
        }  

    </style>
	
<body>

    <br>
    <h1 style="color:blue;text-align:center">TICKET ISSUANCE SYSTEM </h1> 
    <br>

        <h4>Payment Successful!!</h4>
        <br>
        <p class="description">Thank you for your payment. Your transaction has been successfully processed. <br>
        If you have any questions or concerns regarding your payment, please contact our customer support.
        </p> 
        <p>Your ticket has been generated successfully.</p>
        <br>

    <center>
    <div class="button-container">
        <a class="btn btn-success" href="http://127.0.0.1:8000/" role="button">Home</a>
        <button type="button" class="btn btn-success" onclick="viewticket()">VIew Ticket</button>
        <button type="button" class="btn btn-success" onclick="printticket()">Print Ticket</button>
        </div>
    </center>
    <div id="pdf-container"></div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>


    <script>
        $(document).ready(function() {
            var user_id = localStorage.getItem('userId'); 
            var booking_id = localStorage.getItem('booking_id');
            var params = {
                    'user_id': user_id, 
                    'booking_id': booking_id,
                };
            var queryString = $.param(params);
            $.ajax({
                headers: {
                    'Content-Type': 'application/json',
                    },
                url: 'http://127.0.0.1:8000/ticket/payment_success/?' + queryString,
                method: 'GET',
                success: function(response) {
                    console.log(response);
                    console.log("going to call success view function")
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
                });
        });


    function viewticket() {

        var user_id = localStorage.getItem('userId');   
        var booking_id = localStorage.getItem('booking_id');
        console.log(user_id);
        var params = {
                    'user_id': user_id, 
                    'booking_id': booking_id,
                };
        var queryString = $.param(params); 
        var  url = 'http://127.0.0.1:8000/ticket/generate-pdf/?' + queryString
        console.log(url);
        
        $.ajax({
                type: 'GET',
                // headers: {
                // 'Content-Type': 'application/json',
                // },
                url: 'http://127.0.0.1:8000/ticket/generate-pdf/?' + queryString,
                xhrFields: {
                    responseType: 'blob'
                },
                success:function(blob){
                //         //console.log(response);
                //         console.log("Successs");
                //         //var blob = new Blob([Response], { type: 'application/pdf' });
                //         var downloadUrl = URL.createObjectURL(blob);
                //         var a = document.createElement("a");
                //         a.href = downloadUrl;
                //         a.download = "ticket.pdf";
                //         document.body.appendChild(a);
                //         a.click(); 
                //     },
                        // Create an URL for the blob
                            var pdfUrl = URL.createObjectURL(blob);

                    // Create an iframe to display the PDF content
                    var pdfViewer = document.createElement('iframe');
                    pdfViewer.src = pdfUrl;
                    pdfViewer.style.width = '300%';
                    pdfViewer.style.height = '600%';
                    pdfViewer.style.border = 'none';

                    // Append the iframe to a container element on your page
                    var container = document.getElementById('pdf-container'); // Replace 'pdf-container' with the ID of the container where you want to display the PDF
                    container.appendChild(pdfViewer);
                    },
                error: function (response) {
                        console.log("Fail");
             
                    }  
                }) 
            }

    function printticket() {

        var user_id = localStorage.getItem('userId');   
        var booking_id = localStorage.getItem('booking_id');
        console.log(user_id);
        var params = {
                    'user_id': user_id, 
                    'booking_id': booking_id,
                };
        var queryString = $.param(params); 
        var  url = 'http://127.0.0.1:8000/ticket/generate-pdf/?' + queryString
        console.log(url);

        $.ajax({
                type: 'GET',
                // headers: {
                // 'Content-Type': 'application/json',
                // },
                url: 'http://127.0.0.1:8000/ticket/generate-pdf/?' + queryString,
                xhrFields: {
                    responseType: 'blob'
                },
                success:function(blob){
                        //console.log(response);
                        console.log("Successs");
                        //var blob = new Blob([Response], { type: 'application/pdf' });
                        var downloadUrl = URL.createObjectURL(blob);
                        var a = document.createElement("a");
                        a.href = downloadUrl;
                        a.download = "ticket.pdf";
                        document.body.appendChild(a);
                        a.click(); 
                    },
                error: function (response) {
                        console.log("Fail");
            
                    }  
                }) 
            }
    </script>
</body>
</html>
